<%- include('header.ejs') %>
<header class="masthead" style="background-image: url('/img/about-bg.jpg')">
    <div class="container position-relative px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-md-10 col-lg-8 col-xl-7">
                <div class="page-heading">
                    <h1>About Me</h1>
                    <span class="subheading">This is what I do.</span>
                </div>
            </div>
        </div>
    </div>
</header>
<!-- Main Content-->
<main class="mb-4">
    <div class="container px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-md-10 col-lg-8 col-xl-7">



                <p>Hello there, and welcome to "What-if?" - a blog where I explore various hypothetical scenarios that often pop up in our minds. My name is [Your Name], and I am the creator and writer of this blog.</p>
                <p>Ever since I was a child, I have always been fascinated by the world of "what-ifs." I found myself constantly daydreaming about different scenarios and outcomes, wondering how things could have turned out differently if certain events had occurred or if certain decisions had been made.

                    As I grew older, my interest in hypothetical scenarios only increased, and I decided to create this blog as a platform to share my thoughts and ideas with others who share my fascination. Here, I will be posting various "what-if?" scenarios, exploring the possibilities and implications of each one.</p>
                <p>I hope you find my blog insightful and thought-provoking. And who knows, maybe we can all learn a thing or two from these hypothetical scenarios. Thank you for stopping by, and I look forward to sharing more "what-if?" scenarios with you in the future.</p>
            </div>
        </div>
    </div>
</main>
<!-- Footer-->
<footer class="border-top">
    <div class="container px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-md-10 col-lg-8 col-xl-7">
                <ul class="list-inline text-center">
                    <li class="list-inline-item">
                        <a href="#!">
                            <span class="fa-stack fa-lg">
                                <i class="fas fa-circle fa-stack-2x"></i>
                                <i class="fab fa-whatsapp fa-stack-1x fa-inverse"></i>
                            </span>
                        </a>
                    </li>
                    <li class="list-inline-item">
                        <a href="#!">
                            <span class="fa-stack fa-lg">
                                <i class="fas fa-circle fa-stack-2x"></i>
                                <i class="fab fa-facebook-f fa-stack-1x fa-inverse"></i>
                            </span>
                        </a>
                    </li>
                    <li class="list-inline-item">
                        <a href="#!">
                            <span class="fa-stack fa-lg">
                                <i class="fas fa-circle fa-stack-2x"></i>
                                <i class="fab fa-github fa-stack-1x fa-inverse"></i>
                            </span>
                        </a>
                    </li>
                </ul>
                <div class="small text-center text-muted fst-italic">Copyright &copy; What-if? <%=  new Date().getFullYear() %></div>
            </div>
        </div>
    </div>
</footer>

<%- include('footer.ejs') %>